body {
   position: relative;
   color: #f3f5f7;
   background: #00b3e6
}

.card {
   width: 100px;
   height: 150px;
   position: absolute;
   user-select: none;
   cursor: grab;
 }
 
 .card-stack {
   position: absolute;
   cursor: pointer;
}
 